<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hello World it is {{ currentTime }} {{ favoriteColor}} </p>
    <p>
      <a href="/jason">Tell me something about Jason</a>
    </p>
    <ul>
      {{#friends}}
        <li>{{name}}</li>
      {{/friends}}
    </ul>
  </body>
</html>
